.footer {
  background-color: #1a1c24;
  padding: 4.8rem 0;
  color: #fff;
}
.footer-container {
  width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.footer-col-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
}

.footer-first {
}
.copyright {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.2rem;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.address-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  color: #a7aeb6;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.6rem;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:visited {
  color: #fff;
}

.col-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer-link-c {
  color: #a7aeb6;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.footer-link-c:hover {
  color: #fff;
}
